body {
  margin: 0;
  padding: 0;
  background-color: #fff6c5;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: #5cbde5;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

img[id="navlogo"] {
  width: 100px;
  height: 65px;
  margin-left: 50px;
  object-fit: cover;
  border-radius: 40px;
}

p[id="title"] {
  font-size: 30px;
  margin-left: 64px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li {
  border-right: 1px solid black;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:first-child {
  padding-left: 0;
}

ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.hero {
  background-image: url(/Website\ files/images/taylor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.hero h1 {
    text-align: center;
    margin: 0;
    padding-top: 2em;
    color: #d3d3d3;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#carousel-container {
  position: relative;
  grid-column: 2/3;
  width: 100%;
  height: 20em;
}

.posts {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-items: center;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.671);
  background-color: #ff924d;
}
.posts div {
	text-align: center;
}

.post-1 {
  width: 175px;
  height: 175px;
  left: 20%;
  transform: translate(-50%, -50%) scale(1);
}

.post-2 {
  width: 250px;
  height: 250px;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 1;
}

.post-3 {
  width: 175px;
  height: 175px;
  left: 80%;
  transform: translate(-50%, -50%) scale(1);
}

.post-1 h2, .post-3 h2{
	font-size: 1.15em;
}

.post-1 p, .post-1 small, .post-3 p, .post-3 small, .tags{
	font-size: 0.85em;
}

#back-container {
  transition: 0.3s;
  grid-column: 1/2;
  width: 50px;
  height: auto;
  background-color: white;
  border-radius: 35px;
  text-align: center;
}

#next-container {
  transition: 0.3s;
  grid-column: 3/4;
  width: 50px;
  height: auto;
  background-color: white;
  border-radius: 35px;
  text-align: center;
}

#back-container:hover, #next-container:hover{
  background-color: rgba(255, 255, 255, 0.793);
  transition: 0.3s;
}

#back-container,
#next-container {
  justify-self: center;
  align-self: center;
}

#back-btn,
#next-btn {
  background: none;
  border: none;
  font-size: 3em;
}

#back-btn:hover,
#next-btn:hover,
#search-post-input button:hover {
  cursor: pointer;
}

#search-post-input {
  text-align: center;
  display: flex;
  justify-content: center;
}

#search-post-input input {
  height: 48px;
  padding-right: 75px;
  padding-left: 100px;
  border: none;
  font-size: 17px;
  text-align: right;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#search-post-input button {
  height: 50px;
  padding-right: 25px;
  border: none;
  color: gray;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#search-icon {
  font-size: 45px;
}

#create-post-btn {
  display: flex;
  justify-content: center;
}

#create-post-btn button {
  transition: 0.3s;
  font-size: 22px;
  border-radius: 25px;
  padding: 15px 30px 15px 30px;
  margin: 30px;
  color: white;
  background-color: #ff934e;
}


#create-post-btn button:hover{
  background-color: #c26f3c;
  cursor: pointer;
  transition: 0.3s;
}

.recent-questions {
  margin-top: 25px;
  margin-left: 70px;
}

.recent-questions h2 {
  font-size: 35px;
  margin-bottom: 0px;
}

#subpost-container {
  display: flex;
  flex-direction: column;
}

.subpost {
  display: flex;
  margin: 10px;
  width: 25em;
  background-color: white;
  border-radius: 15px;
}

.subpost-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.subpost-content h3 {
  margin: 0;
}

.help-icon {
  align-content: center;
  padding-left: 15px;
  color: gray;
}

footer{
  top:100px;
  background-color: #5cbde5;
  position:relative;
  text-align: center;
  height: 50px;
}

footer p{
  padding-top:15px;
}