body {
  margin: 0;
  padding: 0;
  background-color: #fff6c5;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Nav bar style */

nav {
  background-color: #5cbde5;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ff924d;
}

img[id="navlogo"] {
  width: 100px;
  height: 65px;
  margin-left: 50px;
  object-fit: cover;
  border-radius: 40px;
}

p[id="title"] {
  font-size: 30px;
  margin-left: 64px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li {
  border-right: 1px solid black;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:first-child {
  padding-left: 0;
}

ul li:nth-child(3){
  border-right: none;
  padding-right: 0;
}

ul li:last-child{
  border-right: none;
  position: absolute;
  right: 0;
  margin-right: 100px;
}

input[name="search"]{
  width: 75px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgb(65, 65, 65);
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input[name="search"]:focus{
  width: 600px;
}

/* Login panel design */

.login-panel {
    width: 25em;
    height: 25em;
    background-color: #3464c2;
    justify-self: center;
    text-align: center;
    border-radius: 5em;
    box-shadow: 0px 5px 5px 0px #000000;
}

.login-panel h1 {
    padding-top: 2em;
}

#username, #password {
    margin: 2em 0 2em 0;
}

#login-btn {
    width: 7em;
    height: 3em;
    background-color: #ff924d;
    border: none;
    border-radius: 1em;
    font-size: 1em;
}

#login-btn:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}

/* Footer Style */

footer{
  top:100px;
  background-color: #5cbde5;
  position:relative;
  text-align: center;
  height: 50px;
}

footer p{
  padding-top:15px;
}