body {
  margin: 0;
  padding: 0;
  background-color: #d6d6d6;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Nav bar style */

nav {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

img[id="navlogo"] {
  width: 100px;
  height: 70px;
  margin-left: 50px;
}

p[id="title"] {
  font-size: 30px;
  margin-left: 64px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li {
  border-right: 1px solid black;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:first-child {
  padding-left: 0;
}

ul li:last-child {
  border-right: none;
  padding-right: 0;
}

/* Login panel design */

.login-panel {
    width: 25em;
    height: 25em;
    background-color: white;
    justify-self: center;
    text-align: center;
    border-radius: 5em;
}

.login-panel h1 {
    padding-top: 2em;
}

#username, #password {
    margin: 2em 0 2em 0;
}

#login-btn {
    width: 7em;
    height: 3em;
    background-color: #d6d6d6;
    border: none;
    border-radius: 1em;
    font-size: 1em;
}

#login-btn:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}

/* Footer Style */

footer{
  top:100px;
  background-color: #ffffff;
  position:relative;
  text-align: center;
  height: 50px;
}

footer p{
  padding-top:15px;
}