body {
    margin: 0;
    padding: 0;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: gray;
}

#carousel-container {
    position: relative;
    grid-column: 2/3;
    width: 100%;
    height: 30em;
    background-color: gray;
}

.posts {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-items: center;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    transition: all 0.4s ease-in-out;
}

.post-1 {
    width: 175px;
    height: 175px;
    left: 20%;
    transform: translate(-50%, -50%) scale(1);
}

.post-2 {
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 1;
} 

.post-3 {
    width: 175px;
    height: 175px;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
}


#back-container {
    grid-column: 1/2;
}

#next-container {
    grid-column: 3/4;
}

#back-container, #next-container {
    justify-self: center;
    align-self: center;
}

#back-btn, #next-btn {
    background: none;
    border: none;
    font-size: 3em;
}

#back-btn:hover, #next-btn:hover {
    cursor: pointer;
    font: bold;
}
